<div>
  <h1 class="lead">{{tituloPagina}}</h1>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-3">

      <app-card titulo="HTML5">

        <div class="centralizar">
          <app-foto imagem="html5.png" titulo="HTML5" classe="tamanhoImagem">
          </app-foto>
        </div>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere, nisi in maximus viverra, leo mauris luctus
          odio, quis finibus ante est eleifend enim. </p>
        <div class="centralizar">
          <button type="button" class="btn btn-warning">
            Matricule-se
          </button>
        </div>

      </app-card>
    </div>

    <div class="col-md-3">
      <app-card titulo="HTML5">
        <div class="centralizar">
          <app-foto imagem="css3.png" titulo="CSS3" classe="tamanhoImagem">
          </app-foto>
        </div>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere, nisi in maximus viverra, leo mauris luctus
          odio, quis finibus ante est eleifend enim. </p>
        <div class="centralizar">
          <button type="button" class="btn btn-info">
            Matricule-se
          </button>
        </div>

      </app-card>
    </div>

    <div class="col-md-3">
      <app-card titulo="HTML5">
        <div class="centralizar">
          <app-foto imagem="angular.png" titulo="Angular" classe="tamanhoImagem">
          </app-foto>
        </div>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere, nisi in maximus viverra, leo mauris luctus
          odio, quis finibus ante est eleifend enim. </p>
        <div class="centralizar">
          <button type="button" class="btn btn-danger">
            Matricule-se
          </button>
        </div>

      </app-card>
    </div>
    <div class="col-md-3">
      <app-card titulo="HTML5">
        <div class="centralizar">
          <app-foto imagem="node.png" titulo="Node" classe="tamanhoImagem">
          </app-foto>
        </div>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere, nisi in maximus viverra, leo mauris luctus
          odio, quis finibus ante est eleifend enim. </p>
        <div class="centralizar">
          <button type="button" class="btn btn-success">
            Matricule-se
          </button>
        </div>
      </app-card>
    </div>
  </div>
</div>